@using System.Globalization

@model JourneyViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <style>

        .back-icon {
            cursor: pointer;
        }

            .back-icon:hover {
                color: #a6daa6 !important;
            }

    </style>
}

<div class="w-75 m-auto">
    <div class="card">
        <div class="card-header p-3" style="background-color:#3b5bdb">
            <div class="row text-center">
                <div class="col-1">
                    <a asp-route="/Home/Index">
                        <i class="bi bi-arrow-left text-white back-icon"></i>
                    </a>
                </div>
                <div class="col-10">
                    <h5 class=" text-white d-inline w-100">@Model.Origin - @Model.Destination</h5>
                </div>
                <div class="col-10 offset-1">
                    <h6 class="text-center text-white ">@Model.Date?.ToString("dd MMMM yyyy", new CultureInfo("tr-TR"))</h6>
                </div>
            </div>


        </div>
        <div class="card-body">

            @foreach (var item in Model.JourneyInfos)
            {
                <div class="card m-2">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title text-primary">KALKIŞ @item.DepartureTime?.ToString("HH:mm") &rarr; VARIŞ @item.ArrivalTime?.ToString("HH:mm")</h6>
                            <small class="d-block">@item.DepartureStop - @item.ArrivalStop</small>
                            <small class="text-muted d-block">@item.PartnerName</small>
                        </div>
                        <div>
                            <span class="badge bg-danger p-2 fs-6">@item.Price TL</span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>